@import 'tailwindcss';

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.jacquard-12-regular {
  font-family: "Jacquard 12", system-ui;
  font-weight: 400;
  font-style: normal;
}


.button {
  @apply text-white rounded-sm px-3 py-2 font-semibold transition-transform duration-150 ease-in-out;
}

/* variants */
.button-tags {
  @apply bg-purple-700/80 border-fuchsia-600 border-2 hover:bg-fuchsia-600 hover:scale-110 active:scale-90;
}

.button-danger {
  @apply bg-rose-700/80 border-pink-600 border-2 hover:bg-rose-600 hover:scale-110 active:scale-90;
}

.button-warning {
  @apply bg-yellow-700/80 border-amber-600 border-2 hover:bg-yellow-600 hover:scale-110 active:scale-90;
}

.button-primary {
  @apply bg-blue-700/80 border-cyan-600 border-2 hover:bg-blue-600 hover:scale-110 active:scale-90;
}

.button-success {
  @apply bg-green-700/80 border-lime-600 border-2 hover:bg-green-600 hover:scale-110 active:scale-90;
}

.button-secondary {
  @apply bg-zinc-700/80 border-zinc-600 border-2 hover:bg-zinc-600 hover:scale-110 active:scale-90;
}